<!DOCTYPE html>
<html ng-app="lol">
<head>
    <title>Создай свой билд League of legends!</title>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="i-ys_rCCr7ub-eZJO84Q4JPbChPLbZ2zXb3lmEo3TEI" />
    <script>if (document.all && !document.querySelector || !document.getElementsByClassName) {window.location = 'ie.html';}</script>
    <link rel="stylesheet" href="css/app.css" />
    <link rel="shortcut icon" href="http://faviconist.com/icons/b12151012d5405269628194f261bdf5a/favicon.ico" />
    <!-- Libs -->
    <script src="js/libs/jquery.js"></script>
    <script src="js/libs/jquery-ui.js"></script>
    <script src="js/libs/underscore.js"></script>
    <script src="js/libs/angular.js"></script>
    <script src="js/libs/bootstrap-modal.js"></script>
    <script src="js/libs/easyTooltip.js"></script>
    <!-- Data -->
    <script src="js/data/skills.js"></script>
    <script src="js/data/masteries.js"></script>
    <script src="js/data/runes.js"></script>
    <script src="js/data/spells.js"></script>
    <script src="js/data/items.js"></script>
    <script src="js/data/images.js"></script>
    <script src="js/data/characters.js"></script>
    <script src="js/data/tooltip-items.js"></script>
    <script src="js/data/tooltip-masteries.js"></script>
    <script src="js/data/tooltip-skills.js"></script>   
    <script src="js/data/tooltip-spells.js"></script>
    <script src="js/data/tooltip-runes.js"></script>
</head>
<body>
<div class="container" ng-cloak>
    <div class="row top">
        <div class="span3">
            <h1>LoLoBoT</h1>
            <small>создай свой билд!</small>
        </div>
        <div class="span5">
            <h1 class="center">League of Legends</h1>
        </div>
        <div class="span3">
            <p>
            <audio controls>
                <source src="lol-dubstep.mp3" type="audio/mpeg">
                <source src="lol-dubstep.ogg" type="audio/ogg; codecs=vorbis">
                Ваш браузер не поддерживает тег audio.
            </audio>
            </p>
        </div>
    </div>
    <div id="tabs" ng-view>
        <div class="row menu">
            <div class="span11">
                <div class="modal" id="myModal" ng-show="visibleModal">
                    <div class="modal-header">
                       <h3>Очистка локального хранилища</h3>
                    </div>
                    <div class="modal-body">
                        <p>Вы точно хотите сбросить все билды по-умолчанию? Восстановить их не получится.</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn cancel" data-dismiss="modal">Отмена</a>
                        <a href="#" class="btn btn-primary" ng-click="resetBuilds()">Сбросить</a>
                    </div>
                </div>

                <h5>
                    <a class="icon-trash" data-toggle="modal" href="#myModal"></a> Выберите персонажа:
                </h5>

                <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                    <li ng-repeat="(key, value) in Characters" class="ng-scope ui-state-default ui-corner-top">
                        <a ng-href="#/{{ key }}" class="ng-binding ui-tabs-anchor" ng-class="markActiveClass(key)">
                            {{ key }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row character">
            <div class="span11">
                <div id="block" ng-init="doMasteriesCount()">
                    <div class='row main'>
                        <div class='span3'>
                            <h4 class='center'>Статы на 18 уровне: </h4>
                            <p class='center'>(без учета бонусов)</p>
                            <stats></stats>   
                        </div>
                        <div class='span2 image'>
                            <img ng-src='img/characters/{{ name }}.png' id='{{ name }}'/>
                        </div>
                        <div class='span6'>
                            
                            <div class='items'>
                                <p>Сборка: </p>
                                <div>
                                    <items ng-repeat='item in items | initItems:name' ng-src='{{ item }}'></items>
                                </div>
                            </div>
                            
                            <div ng-show="visibleInnerItems" class='inner-items ui-droppable'>
                                 <h3>Предметы:</h3>
                                 <span ng-click="hideItemsBlock()">X</span>
                                 <inner-items ng-repeat='item in AllItems' ng-src='{{ item }}'></inner-items>
                             </div>  

                            <div class='skills'>
                                <p>Скиллы (перетаскивайте, для изменения порядка):
                                    <span class='spells'>
                                        <spells ng-repeat="spell in spells | initSpells:name" ng-src='{{ spell }}'></spells>
                                    </span>
                                </p>
                                <div ng-show="visibleInnerSpells" class='inner-spells ui-droppable'>
                                    <h2>Спеллы:</h2>
                                    <span ng-click="hideSpellsBlock()">X</span>
                                    <inner-spells ng-repeat="spell in AllSpells | existsSpells" ng-src="{{ spell }}"></inner-spells>
                                </div>
                                <div class='skills-inner'>
                                    <skills ng-repeat="skill in skills | initSkills:name" ng-src='{{ skill }}'></skills>
                                </div>
                            </div>

                        </div>
                        <div class='clear'></div>
                    </div>

                    <div class="row masteries">
                        <div class="span4">
                            <table class="offensive" ng-init="offensive | initOffensive: name">
                                <tr>
                                    <th colspan="4">Offense: <strong class="amount">{{ offensiveCount(offensive) }}</strong></th>
                                </tr>
                                <tr class="first-off">
                                    <td>
                                        <p ng-class="{disabled: (offensive[0] == 0 && masteriesCount >= 30)}">
                                            <span id="1">{{ offensive[0] | maxTo:1 }}</span> / <span>1</span>
                                        </p> 
                                        <img ng-click="offensiveUp($event, 0, 1)" ng-src="{{ Masteries.summonersWrath }}">
                                    </td>
                                    <td>
                                        <p ng-class="{disabled: (offensive[1] == 0 && masteriesCount >= 30)}">
                                            <span id="2">{{ offensive[1] | maxTo:3 }}</span> / <span>3</span>
                                        </p> 
                                        <img ng-click="offensiveUp($event, 1, 3)" ng-src="{{ Masteries.bruteForce }}">
                                    </td>
                                    <td>
                                        <p ng-class="{disabled: (offensive[2] == 0 && masteriesCount >= 30)}">
                                            <span id="3">{{ offensive[2] | maxTo:4 }}</span> / <span>4</span>
                                        </p> 
                                        <img ng-click="offensiveUp($event, 2, 4)" ng-src="{{ Masteries.mentalForce }}">
                                    </td>
                                    <td>
                                        <p ng-class="{disabled: (offensive[3] == 0 && masteriesCount >= 30)}">
                                            <span id="4">{{ offensive[3] | maxTo:2 }}</span> / <span>2</span>
                                        </p> 
                                        <img ng-click="offensiveUp($event, 3, 2)" ng-src="{{ Masteries.butcher }}">
                                    </td>
                                </tr>
                                <tr class="second-off">
                                    <td></td>
                                    <td>
                                        <p ng-class="{disabled: offensiveCount(offensive) < 4 || (offensive[4] == 0 && masteriesCount >= 30)}">
                                            <span id="5">{{ offensive[4] | maxTo:4 }}</span> / <span>4</span>
                                        </p> 
                                        <img ng-click="offensiveUp($event, 4, 4)" ng-src="{{ Masteries.alacrity }}">
                                    </td>
                                    <td>
                                        <p ng-class="{disabled: offensiveCount(offensive) < 4 || (offensive[5] == 0 && masteriesCount >= 30)}">
                                            <span id="6">{{ offensive[5] | maxTo:4 }}</span> / <span>4</span>
                                        </p> 
                                        <img ng-click="offensiveUp($event, 5, 4)" ng-src="{{ Masteries.sorcery }}">
                                    </td>
                                    <td>
                                        <p ng-class="{disabled: offensiveCount(offensive) < 4 || (offensive[6] == 0 && masteriesCount >= 30)}">
                                            <span id="7">{{ offensive[6] | maxTo:1 }}</span> / <span>1</span>
                                        </p> 
                                        <img ng-click="offensiveUp($event, 6, 1)" ng-src="{{ Masteries.demolitionist }}">
                                    </td>
                                </tr>
                                <tr class="third-off">
                                    <td>
                                        <p ng-class="{disabled: offensiveCount(offensive) < 8 || (offensive[7] == 0 && masteriesCount >= 30)}">
                                            <span id="8">{{ offensive[7] | maxTo:4 }}</span> / <span>4</span>
                                        </p> 
                                        <img ng-click="offensiveUp($event, 7, 4)" ng-src="{{ Masteries.deadlines }}">
                                    </td>
                                    <td>
                                        <p ng-class="{disabled: offensiveCount(offensive) < 8 || (offensive[8] == 0 && masteriesCount >= 30) || offensive[4] < 4}">
                                            <span id="9">{{ offensive[8] | maxTo:1 }}</span> / <span>1</span>
                                        </p> 
                                        <img ng-click="offensiveUp($event, 8, 1)" ng-src="{{ Masteries.weaponExpertise }}">
                                    </td>
                                    <td>
                                        <p ng-class="{disabled: offensiveCount(offensive) < 8 || (offensive[9] == 0 && masteriesCount >= 30)  || offensive[5] < 4}">
                                            <span id="10">{{ offensive[9] | maxTo:1 }}</span> / <span>1</span>
                                        </p> 
                                        <img ng-click="offensiveUp($event, 9, 1)" ng-src="{{ Masteries.arkaneKnowledge }}">
                                    </td>
                                    <td>
                                        <p ng-class="{disabled: offensiveCount(offensive) < 8 || (offensive[10] == 0 && masteriesCount >= 30)}">
                                            <span id="11">{{ offensive[10] | maxTo:3 }}</span> / <span>3</span>
                                        </p> 
                                        <img ng-click="offensiveUp($event, 10, 3)" ng-src="{{ Masteries.havoc }}">
                                    </td>
                                </tr>
                                <tr class="four-off">
                                    <td>
                                        <p ng-class="{disabled: offensiveCount(offensive) < 12 || (offensive[11] == 0 && masteriesCount >= 30) || offensive[7] < 4}">
                                            <span id="12">{{ offensive[11] | maxTo:1 }}</span> / <span>1</span>
                                        </p> 
                                        <img ng-click="offensiveUp($event, 11, 1)" ng-src="{{ Masteries.lethality }}">
                                    </td> 
                                    <td>
                                        <p ng-class="{disabled: offensiveCount(offensive) < 12 || (offensive[12] == 0 && masteriesCount >= 30)}">
                                            <span id="13">{{ offensive[12] | maxTo:3 }}</span> / <span>3</span>
                                        </p> 
                                        <img ng-click="offensiveUp($event, 12, 3)" ng-src="{{ Masteries.vampirism }}">
                                    </td> 
                                    <td>
                                        <p ng-class="{disabled: offensiveCount(offensive) < 12 || (offensive[13] == 0 && masteriesCount >= 30)}">
                                            <span id="14">{{ offensive[13] | maxTo:4 }}</span> / <span>4</span>
                                        </p> 
                                        <img ng-click="offensiveUp($event, 13, 4)" ng-src="{{ Masteries.blast }}">
                                    </td> 
                                    <td></td>
                                </tr>
                                <tr class="five-off">
                                    <td></td> 
                                    <td>
                                        <p ng-class="{disabled: offensiveCount(offensive) < 16 || (offensive[14] == 0 && masteriesCount >= 30)}">
                                            <span id="15">{{ offensive[14] | maxTo:3 }}</span> / <span>3</span>
                                        </p> 
                                        <img ng-click="offensiveUp($event, 14, 3)" ng-src="{{ Masteries.sunder }}">
                                    </td> 
                                    <td>
                                        <p ng-class="{disabled: offensiveCount(offensive) < 16 || (offensive[15] == 0 && masteriesCount >= 30)}">
                                            <span id="16">{{ offensive[15] | maxTo:4 }}</span> / <span>4</span>
                                        </p> 
                                        <img ng-click="offensiveUp($event, 15, 4)" ng-src="{{ Masteries.archmage }}">
                                    </td> 
                                    <td></td> 
                                </tr> 
                                <tr class="six-off"> 
                                    <td></td> 
                                    <td>
                                        <p ng-class="{disabled: offensiveCount(offensive) < 20 || (offensive[16] == 0 && masteriesCount >= 30)}">
                                            <span id="17">{{ offensive[16] | maxTo:1 }}</span> / <span>1</span>
                                        </p> 
                                        <img ng-click="offensiveUp($event, 16, 1)" ng-src="{{ Masteries.executioner }}">
                                    </td> 
                                    <td></td> 
                                    <td></td> 
                                </tr> 
                            </table> 
                        </div>
                        <div class="span4"> 
                            <table class="defense" ng-init="defensive | initDefensive: name">
                                <tr>
                                    <th colspan="4">Defense: <strong class="amount">{{ defensiveCount(defensive) }}</strong></th>
                                </tr>
                                <tr class="first-off">
                                    <td>
                                        <p ng-class="{disabled: (defensive[0] == 0 && masteriesCount >= 30)}">
                                            <span id="18">{{ defensive[0] | maxTo:1 }}</span> / <span>1</span>
                                        </p>
                                        <img ng-click="defensiveUp($event, 0, 1)" ng-src="{{ Masteries.summonersResolve }}">
                                    </td>
                                    <td>
                                        <p ng-class="{disabled: (defensive[1] == 0 && masteriesCount >= 30)}">
                                            <span id="19">{{ defensive[1] | maxTo:3 }}</span> / <span>3</span>
                                        </p>
                                        <img ng-click="defensiveUp($event, 1, 3)" ng-src="{{ Masteries.resistance }}">
                                    </td>
                                    <td>
                                        <p ng-class="{disabled: (defensive[2] == 0 && masteriesCount >= 30)}">
                                            <span id="20">{{ defensive[2] | maxTo:3}}</span> / <span>3</span>
                                        </p>
                                        <img ng-click="defensiveUp($event, 2, 3)" ng-src="{{ Masteries.hardiness }}">
                                    </td>
                                    <td>
                                        <p ng-class="{disabled: (defensive[3] == 0 && masteriesCount >= 30)}">
                                            <span id="21">{{ defensive[3] | maxTo:2 }}</span> / <span>2</span>
                                        </p>
                                        <img ng-click="defensiveUp($event, 3, 2)" ng-src="{{ Masteries.toughSkin }}">
                                    </td>
                                </tr>
                                <tr class="second-off">
                                    <td></td>
                                    <td>
                                        <p ng-class="{disabled: defensiveCount(defensive) < 4 || (defensive[4] == 0 && masteriesCount >= 30)}">
                                            <span id="22">{{ defensive[4] | maxTo:4 }}</span> / <span>4</span>
                                        </p>
                                        <img ng-click="defensiveUp($event, 4, 4)" ng-src="{{ Masteries.durability }}">
                                    </td>
                                    <td>
                                        <p ng-class="{disabled: defensiveCount(defensive) < 4 || (defensive[5] == 0 && masteriesCount >= 30)}">
                                            <span id="23">{{ defensive[5] | maxTo:3 }}</span> / <span>3</span>
                                        </p>
                                        <img ng-click="defensiveUp($event, 5, 3)" ng-src="{{ Masteries.vigor }}">
                                    </td>
                                    <td></td>
                                </tr>
                                <tr class="third-off">
                                    <td>
                                        <p ng-class="{disabled: defensiveCount(defensive) < 8 || (defensive[6] == 0 && masteriesCount >= 30)}">
                                            <span id="24">{{ defensive[6] | maxTo:2 }}</span> / <span>2</span>
                                        </p>
                                        <img ng-click="defensiveUp($event, 6, 2)" ng-src="{{ Masteries.indomitable }}">
                                    </td>
                                    <td>
                                        <p ng-class="{disabled: defensiveCount(defensive) < 8 || (defensive[7] == 0 && masteriesCount >= 30) || defensive[4] < 4}">
                                            <span id="25">{{ defensive[7] | maxTo:1 }}</span> / <span>1</span>
                                        </p>
                                        <img ng-click="defensiveUp($event, 7, 1)" ng-src="{{ Masteries.veteranScars }}">
                                    </td>
                                    <td>
                                        <p ng-class="{disabled: defensiveCount(defensive) < 8 || (defensive[8] == 0 && masteriesCount >= 30)}">
                                            <span id="26">{{ defensive[8] | maxTo:3 }}</span> / <span>3</span>
                                        </p>
                                        <img ng-click="defensiveUp($event, 8, 3)" ng-src="{{ Masteries.evasion }}">
                                    </td>
                                    <td>
                                        <p ng-class="{disabled: defensiveCount(defensive) < 8 || (defensive[9] == 0 && masteriesCount >= 30) || defensive[3] < 2}">
                                            <span id="27">{{ defensive[9] | maxTo:1 }}</span> / <span>1</span>
                                        </p>
                                        <img ng-click="defensiveUp($event, 9, 1)" ng-src="{{ Masteries.bladedArmor }}">
                                    </td>
                                </tr>
                                <tr class="four-off">
                                    <td>
                                        <p ng-class="{disabled: defensiveCount(defensive) < 12 || (defensive[10] == 0 && masteriesCount >= 30)}">
                                            <span id="28">{{ defensive[10] | maxTo:1 }}</span> / <span>1</span>
                                        </p>
                                        <img ng-click="defensiveUp($event, 10, 1)" ng-src="{{ Masteries.siegeCommand }}">
                                    </td>
                                    <td>
                                        <p ng-class="{disabled: defensiveCount(defensive) < 12 || (defensive[11] == 0 && masteriesCount >= 30)}">
                                            <span id="29">{{ defensive[11] | maxTo:3 }}</span> / <span>3</span>
                                        </p>
                                        <img ng-click="defensiveUp($event, 11, 3)" ng-src="{{ Masteries.initiator }}">
                                    </td>
                                    <td>
                                        <p ng-class="{disabled: defensiveCount(defensive) < 12 || (defensive[12] == 0 && masteriesCount >= 30)}">
                                            <span id="30">{{ defensive[12] | maxTo:3 }}</span> / <span>3</span>
                                        </p>
                                        <img ng-click="defensiveUp($event, 12, 3)" ng-src="{{ Masteries.enlightenment }}">
                                    </td>
                                    <td>
                                        
                                    </td>
                                </tr>
                                <tr class="five-off">
                                    <td></td>
                                    <td>
                                        <p ng-class="{disabled: defensiveCount(defensive) < 16 || (defensive[13] == 0 && masteriesCount >= 30)}">
                                            <span id="31">{{ defensive[13] | maxTo:3 }}</span> / <span>3</span>
                                        </p>
                                        <img ng-click="defensiveUp($event, 13, 3)" ng-src="{{ Masteries.honorGuard }}">
                                    </td>
                                    <td>
                                        <p ng-class="{disabled: defensiveCount(defensive) < 16 || (defensive[14] == 0 && masteriesCount >= 30)}">
                                            <span id="32">{{ defensive[14] | maxTo:3 }}</span> / <span>3</span>
                                        </p>
                                        <img ng-click="defensiveUp($event, 14, 3)" ng-src="{{ Masteries.mercenary }}">
                                    </td>
                                    <td></td>
                                </tr>
                                <tr class="six-off">
                                    <td></td>
                                    <td>
                                        <p ng-class="{disabled: defensiveCount(defensive) < 20 || (defensive[15] == 0 && masteriesCount >= 30)}">
                                            <span id="33">{{ defensive[15] | maxTo:1 }}</span> / <span>1</span>
                                        </p>
                                        <img ng-click="defensiveUp($event, 15, 1)" ng-src="{{ Masteries.juggernaut }}">
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                        <div class="span3">
                            <table class="utility" ng-init="utility | initUtility: name">
                                <tr>
                                    <th colspan="4">Utility:  <strong class="amount">{{ utilityCount(utility) }}</strong></th>
                                </tr>
                                <tr class="first-off">
                                    <td>
                                        <p ng-class="{disabled: (utility[0] == 0 && masteriesCount >= 30)}">
                                            <span id="34">{{ utility[0] | maxTo:1 }}</span> / <span>1</span>
                                        </p>
                                        <img ng-click="utilityUp($event, 0, 1)" ng-src="{{ Masteries.summonersInsight }}">
                                    </td>
                                    <td>
                                        <p ng-class="{disabled: (utility[1] == 0 && masteriesCount >= 30)}">
                                            <span id="35">{{ utility[1] | maxTo:3 }}</span> / <span>3</span>
                                        </p>
                                        <img ng-click="utilityUp($event, 1, 3)" ng-src="{{ Masteries.goodHands }}">
                                    </td>
                                    <td>
                                        <p ng-class="{disabled: (utility[2] == 0 && masteriesCount >= 30)}">
                                            <span id="36">{{ utility[2] | maxTo:3 }}</span> / <span>3</span>
                                        </p>
                                        <img ng-click="utilityUp($event, 2, 3)" ng-src="{{ Masteries.expandedMind }}">
                                    </td>
                                    <td>
                                        <p ng-class="{disabled: (utility[3] == 0 && masteriesCount >= 30)}">
                                            <span id="37">{{ utility[3] | maxTo:1}}</span> / <span>1</span>
                                        </p>
                                        <img ng-click="utilityUp($event, 3, 1)" ng-src="{{ Masteries.improvedRecall }}">
                                    </td>
                                </tr>
                                <tr class="second-off">
                                    <td></td>
                                    <td>
                                        <p ng-class="{disabled: utilityCount(utility) < 4 || (utility[4] == 0 && masteriesCount >= 30)}">
                                            <span id="38">{{ utility[4] | maxTo:4 }}</span> / <span>4</span>
                                        </p>
                                        <img ng-click="utilityUp($event, 4, 4)" ng-src="{{ Masteries.swiftness }}">
                                    </td>
                                    <td>
                                        <p ng-class="{disabled: utilityCount(utility) < 4 || (utility[5] == 0 && masteriesCount >= 30) || utility[2] < 3}">
                                            <span id="39">{{ utility[5] | maxTo:3 }}</span> / <span>3</span>
                                        </p>
                                        <img ng-click="utilityUp($event, 5, 3)" ng-src="{{ Masteries.meditation }}">
                                    </td>
                                    <td>
                                        <p ng-class="{disabled: utilityCount(utility) < 4 || (utility[6] == 0 && masteriesCount >= 30)}">
                                            <span id="40">{{ utility[6] | maxTo:1 }}</span> / <span>1</span>
                                        </p>
                                        <img ng-click="utilityUp($event, 6, 1)" ng-src="{{ Masteries.scout }}">
                                    </td>
                                </tr>
                                <tr class="third-off">
                                    <td></td>
                                    <td>
                                        <p ng-class="{disabled: utilityCount(utility) < 8 || (utility[7] == 0 && masteriesCount >= 30)}">
                                            <span id="41">{{ utility[7] | maxTo:4 }}</span> / <span>4</span>
                                        </p>
                                        <img ng-click="utilityUp($event, 7, 4)" ng-src="{{ Masteries.greed }}">
                                    </td>
                                    <td>
                                        <p ng-class="{disabled: utilityCount(utility) < 8 || (utility[8] == 0 && masteriesCount >= 30)}">
                                            <span id="42">{{ utility[8] | maxTo:3 }}</span> / <span>3</span>
                                        </p>
                                        <img ng-click="utilityUp($event, 8, 3)" ng-src="{{ Masteries.transmutation }}">
                                    </td>
                                    <td>
                                        <p ng-class="{disabled: utilityCount(utility) < 8 || (utility[9] == 0 && masteriesCount >= 30)}">
                                            <span id="43">{{ utility[9] | maxTo:1 }}</span> / <span>1</span>
                                        </p>
                                        <img ng-click="utilityUp($event, 9, 1)" ng-src="{{ Masteries.runicAffinity }}">
                                    </td>
                                </tr>
                                <tr class="four-off">
                                    <td></td>
                                    <td>
                                        <p ng-class="{disabled: utilityCount(utility) < 12 || (utility[10] == 0 && masteriesCount >= 30) || utility[7] < 4}">
                                            <span id="44">{{ utility[10] | maxTo:2 }}</span> / <span>2</span>
                                        </p>
                                        <img ng-click="utilityUp($event, 10, 2)" ng-src="{{ Masteries.wealth }}">
                                    </td>
                                    <td>
                                        <p ng-class="{disabled: utilityCount(utility) < 12 || (utility[11] == 0 && masteriesCount >= 30)}">
                                            <span id="45">{{ utility[11] | maxTo:4 }}</span> / <span>4</span>
                                        </p>
                                        <img ng-click="utilityUp($event, 11, 4)" ng-src="{{ Masteries.awarenet }}">
                                    </td>
                                    <td>
                                        <p ng-class="{disabled: utilityCount(utility) < 12 || (utility[12] == 0 && masteriesCount >= 30)}">
                                            <span id="46">{{ utility[12] | maxTo:1 }}</span> / <span>1</span>
                                        </p>
                                        <img ng-click="utilityUp($event, 12, 1)" ng-src="{{ Masteries.sage }}">
                                    </td>
                                </tr>
                                <tr class="five-off">
                                    <td></td>
                                    <td>
                                        <p ng-class="{disabled: utilityCount(utility) < 16 || (utility[13] == 0 && masteriesCount >= 30)}">
                                            <span id="47">{{ utility[13] | maxTo:3 }}</span> / <span>3</span>
                                        </p>
                                        <img ng-click="utilityUp($event, 13, 3)" ng-src="{{ Masteries.strengthOfSpirit }}">
                                    </td>
                                    <td>
                                        <p ng-class="{disabled: utilityCount(utility) < 16 || (utility[14] == 0 && masteriesCount >= 30)}">
                                            <span id="48">{{ utility[14] | maxTo:3 }}</span> / <span>3</span>
                                        </p>
                                        <img ng-click="utilityUp($event, 14, 3)" ng-src="{{ Masteries.intelligence }}">
                                    </td>
                                    <td></td>
                                </tr>
                                <tr class="six-off">
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <p ng-class="{disabled: utilityCount(utility) < 20 || (utility[15] == 0 && masteriesCount >= 30)}">
                                            <span id="49">{{ utility[15] | maxTo:1 }}</span> / <span>1</span>
                                        </p>
                                        <img ng-click="utilityUp($event, 15, 1)" ng-src="{{ Masteries.mastermind }}">
                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                        <div class="span3 offset3">
                            <button class="btn btn-success" ng-disabled="!isCanSave || doMasteriesCount() < 30" ng-click="saveMasteries()">Сохранить мастерис</button>
                        </div>
                        <div class="span3">
                            <button class="reset-button btn btn-danger" ng-click="resetMasteries()">Сбросить мастерис</button>
                        </div>
                    </div>

                    <div class="row runes" ng-init="runes | initRunes: name">
                        <div class="span6 offset3">
                            <h2>Руны:</h2>
                            <runes></runes>
                        </div>
                    </div>

                    <div ng-show="$root.visibleInnerRunes" class='inner-runes ui-droppable'>
                        <h3>Руны:</h3>
                        <span ng-click="hideRunesBlock()">X</span>
                        <inner-runes ng-repeat="rune in AllRunes | existsRunes:$root.typeRune" ng-src="{{ rune }}"></inner-runes>
                    </div>

                </div>
            </div>
        </div>
        <div class="row footer">
            <div>
                Изначально все билды персонажей из гайдов с mobafire, но вы можете кастомизировать их по своему усмотрению. <br>
                Все данные сохраняются в браузере автоматически, за исключением мастерис. Поддержка IE9+, Chrome, Opera, Firefox, Safari. <br>
                Понравился сервис? Поделись им -
                <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
                <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="none" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,gplus">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- App Files -->
<script src="js/routes.js"></script>
<script src="js/services.js"></script>
<script src="js/filters.js"></script>
<script src="js/directives.js"></script>
<script src="js/controllers.js"></script>
</body>
</html>